####################################
# web streamer configuration
#  1. copy me to .env and configure
#  2. be sure to run with foreman
####################################

# environment information
RACK_ENV=development

# where shall we look for redis?
REDIS_URL=redis://localhost:6379

# bother to serve raw stream?
ENABLE_RAW_STREAM=true

# serve interactive kiosk stream? (for #emojiartshow)
ENABLE_KIOSK_INTERACTION_STREAM=false

# what port to run on
PORT=8001

# logs
VERBOSE=true
